.todo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkTheme-Very-Dark-Desaturated-Blue);
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px -1px 138px 1px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -1px 138px 1px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -1px 138px 1px rgba(0, 0, 0, 0.76);
    margin-bottom: 2rem;
    transition: all 0.4s;
  }
  .todo-input input {
    background: transparent;
    font-family: var(--josefin-sans);
    font-size: 1.3rem;
    color: var(--darkTheme-Light-Grayish-Blue);
    height: 100%;
    border: none;
    padding: 10 0px; 
    flex-grow: 1;
  }
  .todo-input input::placeholder {
    font-family: var(--josefin-sans);
    color: var(--darkTheme-Dark-Grayish-Blue);
  }
  .todo-input input:focus {
    outline: none;
  }