.todo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkTheme-Dark-Grayish-Blue);
  background-color: var(--darkTheme-Very-Dark-Desaturated-Blue); 
  border-radius: 0px 0px 5px 5px;
  padding: 20px 25px;
  transition: all 0.3s;
  font-size: 1.1rem;
}
.todo-no {
  font-size: 0.9rem;
}
.todo-status{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.todo-status p:hover, .todo-clear:hover{
  color: white;
  cursor: pointer;
}
